.flexbox-container {
  display: flex;
}

.m-flexbox-item {
  flex-direction: row;
  display: flex;
}

.m-flexbox-item .flexbox-item-1 {
  margin: 20px;
}

.m-flexbox-item .flexbox-item-2 {
  margin: 20px;
}

.flexbox-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}

.flexbox-item-1 {
  min-height: 100px;
  flex-shrink: 0;
}

.flexbox-item-2 {
  min-height: 200px;
}

.flexbox-item-3 {
  min-height: 300px;
  flex-grow: 1;
}
