html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.header-my-info {
  margin-left: 80px;
  margin-right: 80px;
  /*background-color: orange;*/
}

.header-my-improvements {
  margin-left: 80px;
  margin-right: 80px;
  /* background-color: blue; */
}

.header-img {
  display: block;
  margin: 10px;
}

.main-flexbox-container {
  display: flex;
}

.main-flexbox-item {
  flex-direction: column;
  /* background-color: pink; */
}
