html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-my-info {
  margin-left: 40px;
  margin-right: 40px;
  /*background-color: orange;*/
}

.header-my-improvements {
  margin-left: 40px;
  margin-right: 40px;
  /* background-color: blue; */
}

.header-img {
  display: block;
  padding: 20px;
}
