html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: brown; */
}

.header-my-info {
  margin-left: 80px;
  margin-right: 80px;
  /* background-color: orange; */
}

.header-my-improvements {
  margin-left: 80px;
  margin-right: 80px;
  background-color: blue;
}

.header-img {
  display: block;
  margin: 10px;
  /* background-color: crimson; */
}

.main-flexbox-container {
  display: flex;
  /* background-color: pink; */
  justify-content: center;
}

.main-flexbox-item {
  flex-direction: column;
  /* background-color: pink; */
}
